@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap'); */

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply text-dark;
  }
}

@layer components {
}

.item:nth-child(3n + 1) .avatar {
  background-color: #cbd5e1;
}
.item:nth-child(3n - 1) .avatar {
  background-color: #a2c3eb;
}

.item:nth-child(3n) .avatar {
  background-color: #5c7da4;
}

.btn_black {
  @apply rounded border border-dark bg-dark p-3 text-buttonMobile text-white hover:shadow-[1px_1px_5px_0px_rgba(0,_0,_0,_0.3)] md:text-menuTitleMob md:leading-[1.3] xl:text-buttonDesk;
}

.btn_white {
  @apply rounded border border-dark bg-white p-3 text-buttonMobile text-dark hover:border-white hover:shadow-[1px_1px_5px_0px_rgba(0,_0,_0,_0.3)] md:text-menuTitleMob md:leading-[1.3] xl:text-buttonDesk;
}
